@import "~bootstrap/dist/css/bootstrap.min.css";
@import "ckeckbox";
@import "card";
@import "wrapper";

html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
}
